<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>    
        <h1>Content Hub</h1>
        <label for="username">Enter login</label>
        <input type="text" id="username" placeholder="enter login">
        <label for="password">Enter password</label>
        <input type="password" id="password" placeholder="enter password">
        <label for="password">Reenter the password</label>
        <input type="password" id="confirm-password" placeholder="confrim password">
        <p id="error"></p>
        <button id="Create">sign up</button>
    </div>
</body>
</html>